@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Prompt', sans-serif;
  @apply transition-all;
}

body {
  margin: 0;
}

html {
  margin: 0;
  @apply bg-body !important;
}

::-webkit-scrollbar {
  overflow: hidden;
  display: none;
}

#app {
  box-sizing: border-box;
  padding: 1rem;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #54fe55;
  text-shadow: 0px 0px 10px;
  font-size: 6rem;
  flex-direction: column;
}
#app > div {
  font-family: 'Press Start 2P', cursive !important;
}
#app .txt {
  font-size: 1.8rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* Navbar */
.navbar-wrapper {
  z-index: 100;
}

.navbar {
  @apply px-4 text-white bg-background py-5;
}

.navbar-header {
  @apply text-3xl font-bold;
}

.navbar-menu {
  @apply flex-none mt-2 ml-auto hidden lg:block;
}
.navbar-menu > ul {
  @apply space-x-7 menu-horizontal pr-3;
}
.navbar-menu-item {
  @apply cursor-pointer text-white text-xl font-bold;
}

.navbar-menu-mobile {
  @apply fixed w-screen lg:hidden top-[88px];
  @apply bg-slate-800 py-4;
  opacity: 0;
  transform: translateX(-100vw);
  transition: transform 200ms, opacity 200ms;
}
.navbar-menu-mobile.active {
  opacity: 1;
  transform: translateX(0);
}
.navbar-menu-mobile-item {
  @apply cursor-pointer text-white px-8 py-6 text-xl font-bold;
}
.navbar-menu-mobile-item.active > span {
  @apply cursor-default  border-b-4;
}

.navbar-menu-mobile-button {
  @apply lg:hidden block;
}

.navbar-menu-mobile-button > label {
  @apply swap swap-rotate justify-items-center;
  border-radius: 5px;
}
.navbar-menu-mobile-button > label > .icon {
  @apply text-white fill-current text-2xl font-bold;
}

.navbar-menu-mobile-item {
  @apply block rounded-md px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
}

/* Container Content */
.content {
  @apply w-full bg-white p-10 divide-y-2 divide-line shadow-xl space-y-5 text-black min-h-screen;
}

.profileBox {
  @apply md:flex my-5 md:space-y-0 space-y-5;
}

/* paginate */
.pagination {
  @apply flex justify-center;
  z-index: 20;
}
.paginate {
  @apply py-6;
  @apply w-[min(1400px,100%)] flex lg:gap-x-2 justify-center;
  @apply lg:left-[-20px];
  border-radius: 10px;
  position: relative;
}
.paginate-item > a {
  @apply text-white py-2 px-4 lg:py-4 lg:px-8;
  @apply bg-headcard;
  border-radius: 10px;
  outline: none;
  transition: all 100ms;
}
.paginate-item:not(.active) {
  @apply hidden md:block;
}
.paginate-item.active > a {
  @apply bg-background border-rose-500;
  cursor: default;
}
.paginate-arrow > a {
  @apply md:text-white text-black py-4 px-8 md:bg-headcard bg-none;
  border-radius: 10px;
  outline: none;
}
.paginate-arrow > a:hover {
  @apply border-rose-500;
}
